{% extends "base.html" %}
{% block content %}
<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<div class="login100-more1">
			</div>
			<form class="login100-form form-eventshow login validate-form" id="login-res" method="POST"
				action="{% url 'signup' %}">
				{% csrf_token %}
				<h1>
					Regístrate
				</h1>
				<br>
				<div class="validate-input">
					{{ form.username }}
					<div class="form-errors">
						{{ form.username.errors }}
					</div>
				</div>
				<div class="validate-input">
					{{ form.email }}
					<div class="form-errors">
						{{ form.email.errors }}
					</div>
				</div>
				<div class="validate-input">
					{{ form.birthdate }}
					<div class="form-errors">
						{{ form.birthdate.errors }}
					</div>
				</div>
				<div class=" validate-input">
					{{ form.password1 }}
					<div class="form-errors">
						{{ form.password1.errors }}
					</div>
				</div>
				<div class=" validate-input">
					{{ form.password2 }}
					<div class="form-errors">
						{{ form.password2.errors }}
					</div>
				</div>
				<div class="validate-input">
					{{ form.friend_token }}
					<div class="form-errors">
						{{ form.friend_token.errors }}
					</div>
				</div>
				<label>
					{{ form.terms }}
					<span>Acepto los <a href="{% url 'terms' %}">términos y condiciones</a></span>
					<div class="form-errors">
						{{ form.terms.errors }}
					</div>
				</label>
				<br>
				<div class="container-login100-form-btn">
					<button class="login100-form-btn">
						Continúa
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}