
{% extends 'user/preferences.html' %}
{% block content %}
<style>
  body {
     
      background-size: cover;
      display: flex;
      min-height: 100vh;
      flex-direction: column;
  }

  main {
      flex: 1 0 auto;
  }

  .page-footer {
      width: 100%;
  }
</style>

<body>
  <div class="container" id="panel">
    <div class="title">
      <div class="col s12">
        <h3 class="name-host">Mis recibos</h3>
      </div>
    </div>

    <div class="table-generic">

      <table cellpadding="1" cellspacing="1" class="responsive-table" id="myTable">

        <thead>
          <div class="provisional">
            <tr>
              <th>Descargar</th>
              <th>Fecha</th>
              <th>Rol</th>
              <th>Evento</th>
            </tr>
          </div>
        </thead>

        <tbody>

          <tr>
            <td>
              
              <button type="button" onclick="location.href='{% url 'create_rating_attendee' event_pk att.pk %}'"
                title="Descargar">
                <i id="title-name" class="samll material-icons">file_download</i>
              </button>
              
            </td>
            <td>12/12/2012</td>
            <td>Huesped</td>
            <td>Cata de vino</td>
          </tr>

        </tbody>
      
      </table>

      {% include "pagination.html" %}

    </div>
  </div>

</body>


{%endblock%}