{% extends 'user/preferences.html' %}
{% block content %}

  <div class="container" id="panel">
    <div class="title">
      <div class="col s12">
        <h3 id="name-ref">Mis recibos</h3>
      </div>
    </div>

    <div class="table-generic">

      <table description="" class="responsive-table" id="myTable">

        <thead>
          <div class="provisional">
            <tr>
              <th id="">Descargar</th>
              <th id="">Fecha</th>
              <th id="">Rol</th>
              <th id="">Evento</th>
            </tr>
          </div>
        </thead>

        <tbody>

          <tr>
            <td>
              
              <button type="button" onclick="location.href='{% url 'create_rating_attendee' event_pk att.pk %}'" title="Descargar">
                <em id="title-name" class="samll material-icons">file_download</em>
              </button>
              
            </td>
            <td>12/12/2012</td>
            <td>Huesped</td>
            <td>Cata de vino</td>
          </tr>

        </tbody>
      
      </table>

      {% include "pagination.html" %}

    </div>
  </div>



{%endblock%}