@import url(https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

/* GENERAL */

.title-search{
	color: #5D5E5E !important;
}

.title-category{
	font-weight: 500;
	color: #5D5E5E;
}

.title-event{
	color: #B6244D !important;
	font-weight: bolder;

}

.subtitle-event{
	font-weight: 200 !important;
}


/* NAV */

.avatar {
	vertical-align: middle;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	margin-top: -20%;
}

#avatar-movil{
	margin-top: 15%;
}


.logo {
	height: 70px;
	margin-top: -7px;
	align-content: center;
}

#movil{
	color: white !important;
	background: #B7234D ;
	border-radius: 50% !important;
	margin-top: 3%;
	margin-left: 3%;

}

#menu-movil{
	margin-top: 15px;

}


#nav {
	background-color: #B7234D;
}

.sh-eventshow{
	font-weight: bold !important;
	margin-left: -10px;

}

nav ul li:hover {
	color: white;
}

nav ul a:hover {
	color: white;
}

element.style{
	top: 70px !important;
}

/* IMG */

.img-detail{
	margin-top: -10px !important;
	width: 100% !important;
}

.principal-detail{
    height: 900px;
    width: 100%;
	margin-top: -10%;
}

.rectangle-info {
	position: absolute;
	z-index:1;
	margin-left: 5%;
	width: 145px;
	height: 93px;
	border-radius: 8px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	border: solid 1px #979797;
	background-color: #ffffff;
}

#host-datail{
	margin-top: -53%;
	padding: 30px 30px 30px 30px ;

}

.img-host{
	height: 71px;
    margin-left: -23px;
    margin-top: -25%;
}

.host-rating{
	margin-top: -50px;
    margin-left: 50px;
}

#detail-info{
	margin-top: -12%;

}

.rectangle-info h2{
    margin-top: 9%;
    margin-bottom: -10%;
    color: #5D5E5E;
	text-align: center;
}

.title-detail{
	font-weight: 200 !important ;

}
.subtitle-detail{
	font-weight: 500 !important;
}

.separated1{
	margin-left: 16%;
}

.separated2{
	margin-left: 27%;
}

#separated3{
	margin-left: 700%;
    margin-top: -50%;
	padding-top: 1% ;
}

.button-detail{
	color: white !important;
	margin-top: 6% !important;
}

.button-detail:hover{
	font-weight: 600;
}


/* FORM */

.form-eventshow {
	background: #FFF;
	width: 85%;
	border-radius: 15px;
	border: 1px solid #B6244D;
	padding: 25px 40px 90px;
}

.login{
	border-radius: 0px;
}

.login h1{
	margin-top: -20%;
}

.form-eventshow-confirm-delete {
	background: #FFF;
	width: 85%;
	margin-top: 10%;
}

.delete-buttons{
	margin-top: 32%;
}

#delete-btn{
	width: 130%;
	height: auto;
	max-width: 127px;
	max-height: 62px;
}

#create-event{
	margin-bottom: 2% !important;
}

.form-eventshow h3 {
	font-weight: bold;
	color: #5D5E5E;
	margin-bottom: 5%;
	font-size: 30px;
}

.form-eventshow label {
	display: block!important;
	font-weight: bolder;
	color: #5D5E5E;
}

.form-eventshow input {
	width: 100% !important;
	height: 60px !important;
	margin-bottom: 30px !important;
	color: #5D5E5E !important;
	border: 1px solid #B6244D !important;
	border-radius: 12px !important;
	padding-left: 3% !important;
	font-family: Raleway, sans-serif;
}

.location{
	margin-top: 35px;
	margin-left: 7px;
}

.form-eventshow select {
	width: 100% !important;
	height: 60px !important;
	margin-bottom: 30px !important;
	color: #5D5E5E !important;
	border: 1px solid #B6244D !important;
	border-radius: 12px !important;
	padding-left: 3% !important;
	font-family: Raleway, sans-serif;
}

.form-search{
	margin-top: 80px;
	padding-right: 10px;
	padding-left: 40px;
}

.search{
	margin-top: 9px !important;
}

/* FOOTER */

.footer-copyright a {
	color: white;
}

.footer-copyright a:hover {
	color: white;
	font-weight: bold;
}

.social-links {
	font-size: 20px;
}

.copy{
	color: white !important;
	margin-left: -10px !important;
	text-align: left !important;
}

.social{
	color: white !important;
	margin-right: 30px !important;
	text-align: right !important;
}

.social a{
	margin-right: -10px !important;
	margin-left: 10px;
}

.social-footer{
	margin-right: 30px !important;
}

/* OTHER */

.form-home {
	margin-left: 0 !important;
	margin-top: 10%;
}

.text-left{
	margin-left: -100%;
	margin-top: 2%;
	margin-bottom: 4%;
}

.event{
	margin-top: 3%;
	margin-bottom: 3%;
}

.element{
	margin-bottom: 3%;
}

.rating-search{
	font-weight: bold;
	font-family: Raleway;
	color: #5D5E5E;
	font-style: normal;
}

.price{
margin-right: -37%;
margin-top: -5%;
font-size: 20px;
font-weight: 400;
}

.pagination{
	text-align: center;


}

.price:hover{
color: white!important;
}

.img-search{
	height: 40%;
	width: 70%;
}


/* VISTA DEL CREATE*/

#nextBtn, #nextBtn1, #nextBtn2 {
	background-color: #B6244D;
	font-family: Raleway, sans-serif;
}

.tab a{
	color: #B6244D !important;
	font-family: Raleway, sans-serif;
	font-weight: bold;
}

.tabs .indicator{
	color: #B6244D !important;
}


.browser-default{
	
	width:30% !important;
	border-radius: 15px;
	border: 1px solid #b6244d;
	margin-top:10px;
}
  
select {
	background-color: rgba(255, 255, 255, 0.9) !important;
	width: 100% !important;
	padding: 5px !important;
	height: 3rem !important;
}

.container#cuadro {
	width: 800px;
	margin: auto;
	max-width: 100%;
	padding: 2rem 2rem 2rem 2rem;
	margin-top: 2rem;
	background-color: rgb(255, 255, 255);
	margin-top: 40px;
	margin-bottom: 150px;
	border-radius: 15px;
	border: solid 1px #b6244d;
}

.share-event {
	width: 490px;
	height: 49px;
	font-family: Raleway;
	font-size: 42px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #686868;
}

.share-event-princ{
	width: 490px;
	height: 49px;
	font-family: Raleway;
	font-size: 42px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #686868;
	padding-left: 10%;
}


label {
	font-weight: bold;
	font-family: Raleway;
	color: #5d5e5e;
	font-size: 15px;
}

.input-create-event {
	border-radius: 10px !important;
	border: solid 1px #b6244d !important;
	width: 100%;
	height: 100%;
	max-height: 62px;
}

.regForm {
    background-color: #ffffff;
	margin: 1% auto;
	padding: 4%;
	padding-top: 1% !important;
    width: 70%;
    min-width: 640px;
  }

.section-create {
	width: 100%;
	margin: auto;
	max-width: 700px;
	padding: 2% 2% 2% 2%;
	background-color: rgb(255, 255, 255);
	margin-top: 1%;
	margin-bottom: 1%;
	border-radius: 15px;
	border: solid 1px #b6244d;
}

.section {
	width: 800px;
	margin: auto;
	max-width: 100%;
	padding: 2rem 0rem 2rem 0rem;
	margin-top: 2rem;
	background-color: rgb(255, 255, 255);
	margin-top: 15px;
	margin-bottom: 150px;
	border-radius: 15px;
	border: solid 1px #b6244d;
}


.titulo {
	margin-top: 70px;
	margin-left: 15px;
}

.title-share {
	margin-top: 5%;
	margin-left: -9%;
	margin-bottom: 2%;
}

.site-btn {
	display: inline-block;
	border: none;
	font-size: 20px;
	min-width: 140px;
	border-radius: 15px;
	text-transform: uppercase;
	font-weight: 700;
	background: #B6244D;
	color: #fff;
	line-height: normal;
	cursor: pointer;
	text-align: center;
	padding: 13px 15px;
	margin-left: 450px;
}


.comentario {
	width: 457px;
	height: 183px;
	border-radius: 10px;
	border: solid 1px #b6244d;
}

/* INICIO PARTE MIGUEL- NO TOCAR */
.title {
	margin-top: 70px;
	margin-left: 15px;
}

.container#cuadro {
	width: 600px;
	margin: auto;
	max-width: 100%;
	padding: 1rem 2rem 2rem 3rem;
	margin-top: 2rem;
	background-color: rgb(255, 255, 255);
	margin-top: 40px;
	margin-bottom: 150px;
	border-radius: 15px;
	border: solid 1px #b6244d;
}

.name-host, #name-host {
	height: 40px;
	font-family: Raleway;
	font-size: 34px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	margin-top: 10px;
	color: #7e8080;
}

.name-host-share {
	height: 40px;
	font-family: Raleway;
	font-size: 42px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #686868;
}

.nombre-host .color {
	color: #b6244d;
}

.title-form {
	width: 250px;
	height: 18px;
	font-family: Raleway;
	font-size: 15px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #737474;
}

.table-generic{
    width: 60%;
	text-align-last: center;
	margin:auto;
}
.select-generic{
    width: 40%;
    text-align-last: center;
}
table{
	margin-top: 60px;
}


.fa {
	color: #B7234D;
	font-size: 20px;
	margin-right: 20px;
}

.browser-default{
	
	width:30%;
	border-radius: 15px;
	border: 1px solid #b6244d;
	margin-top:10px;
}

#textarea2{
	border: 1px solid #b6244d;
	border-radius: 15px;
	margin-top: 10px;
}
.pagination{
	font-size: large;
	margin-top:10px;
	margin-bottom: 10px;
    -webkit-text-stroke: medium;
}
.btn#yaNo:hover{
	background-color: black!important;
}
#title-name{
	color: #B6244D;
}

.material-icons.color{
	color: #B6244D;
}
.imgRedonda {
    width:300px;
    height:300px;
    border-radius:160px;
    border:10px solid #666;
}
.provisional{
	background-color: #B6244D;
	border-radius: 15px;
}
#titleThanks {
	width: 1171px;
	height: 80px;
	font-family: Raleway;
	font-size: 42px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #5d5e5e;
  }
  #text2Thanks {
	width: 1171px;
	height: 70px;
	font-family: Raleway;
	font-size: 30px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #5d5e5e;
  }
  #text3 {
	width: 513px;
	height: 40px;
	font-family: Raleway;
	font-size: 17px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #686969;
  }
  #text3 .style1 {
	color: #cf2a6e;
  }
  
/* FIN PARTE MIGUEL- NO TOCAR */

/* RESPONSIVE */

@media only screen and (min-width: 411px) and (max-width: 731px) {
   .form-eventshow {
	background: #FFF;
	width: 200%;
	border-radius: 15px;
	border: 1px solid #B6244D;
	padding: 25px 20px 90px !important;
    margin-left: 5%;
}
	.footer-copyright{
		text-align: center;
	}

	.logo{
		margin-top: -10px;
	}

	.form-search{
	margin-top: 150px;
	padding-right: 50px;
	padding-left: 50px;
}


}
