{% extends 'base.html' %}
{% block content %}
{% load ratings %}
<style>
  body {
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .page-footer {
    width: 100%;
  }
</style>

<body>
  <div class="container">
    <div class="title">
      <div class="col s12">
        <h3 class="name-host">Huéspedes del evento <a id="title-name">{{event_title}}</a></h3>
      </div>
    </div>
    <div class="table-generic">
      <table description="attendeeList" cellpadding="1" cellspacing="1" class="responsive-table" id="myTable">
        <caption></caption>
        <thead>
          <div class="provisional">
            <tr>
              <th id="">Puntuar</th>
              <th id="">Usuario</th>
              <th id="">Nombre</th>
              <th id="">Apellidos</th>
            </tr>
          </div>
        </thead>
        <tbody>
          {%for att in object_list %}
          <tr>
            <td id="paddinButton2">
              {% if att not in rated_attendees and event_has_finished and att.username != 'deleted' %}
              <button id="noPaddin" type="button"
                onclick="location.href='{% url 'create_rating_attendee' event_pk att.pk %}'" title="Puntuar">
                <em id="title-name" class="samll material-icons">star</em>
              </button>
              {% elif att in rated_attendees %}
              {% user_on_event user event_pk as rating %}
              <em id="title-name" class="samll material-icons">star<em class="rating-search">{{rating.score}}</em></em>
              {% elif not event_has_started%}
              No ha empezado
              {% elif not event_has_finished%}
              No ha terminado
              {% endif %}
            </td>
            <td>{{att.username}}</td>
            <td>{{att.first_name}}</td>
            <td>{{att.last_name}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include "pagination.html" %}
    </div>
  </div>
</body>
{%endblock%}