{% extends 'base.html' %}
{% block content %}

<body>
  <div class="container">
    <div class="title">
      <div class="col s12">
        <h3 class="name-host">Huéspedes del evento <a id="title-name">{{event_title}}</a></h3>
      </div>
    </div>

    <div class="table-generic">

      <table cellpadding="1" cellspacing="1" class="centre" id="myTable">

        <thead>
          <div class="provisional">
            <tr>
              <th>Puntuar</th>
              <th>Usuario</th>
              <th>Nombre</th>
              <th>Apellidos</th>
            </tr>
          </div>
        </thead>


        {%for att in object_list %}
        <tbody>

          <tr>
            <td>
              {% if att not in rated_attendees and event_has_finished %}
              <button type="button" onclick="location.href='{% url 'create_rating_attendee' event_pk att.pk %}'"
                title="Puntuar">
                <i id="title-name" class="samll material-icons">star</i>
              </button>
              {% elif att in rated_attendees %}
              Ya puntuado
              {% elif not event_has_started%}
              No ha empezado
              {% elif not event_has_finished%}
              No ha terminado
              {% endif %}
            </td>
            <td>{{att.username}}</td>
            <td>{{att.first_name}}</td>
            <td>{{att.last_name}}</td>
          </tr>

        </tbody>
        {% endfor %}
      </table>

      {% include "pagination.html" %}

    </div>
  </div>

</body>


{%endblock%}