{%extends 'base.html' %}
{% block content %}
<style>
  body {
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .page-footer {
    width: 100%;
  }
</style>
<div class="container">
  <div class="titulo">
    <div class="col s12">
      <h3 class="name-host">Elige a tus huéspedes</h3>
    </div>
  </div>
  <div class="table-generic">
    <table class="responsive-table ipadPro" id="myTable" description="myTable">
      <thead>
        <tr>
          <th id="">Fecha</th>
          <th id="">Puntuación</th>
          <th id="">Usuario</th>
          <th id="">Nombre</th>
          <th id="">Apellidos</th>
          <th id="">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for enrollment in object_list %}
        <tr>
          <td>{{enrollment.created_at}}</td>
          <td>
            <em class="fa fa-star"> <em
                class="rating-search">&nbsp{{enrollment.created_by.profile.avg_attendee_score|floatformat:1|default_if_none:"n/a"|default:"n/a"}}</em></em>
          </td>
          <td>{{enrollment.created_by.username}}</td>
          <td>{{enrollment.created_by.first_name}}</td>
          <td>{{enrollment.created_by.last_name}}</td>
          <td>
            {% if not enrollment.event.has_started %}
            <form action="{% url 'update_enrollment' enrollment.pk %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="waves-effect waves-light btn button-enrolls" title="Aceptar" name="status"
                value="ACCEPTED">Aceptar
              </button>
              <button type="submit" class="waves-effect waves-light btn button-enrolls-mov" title="Rechazar"
                name="status" value="REJECTED">Rechazar
              </button>
            </form>
            {% else %}
            Ya ha comenzado
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include "pagination.html" %}
  </div>
</div>

{% endblock %}