{%extends 'base.html' %}

{% block content %}
<style>
    body {
        background-size: cover;
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    main {
        flex: 1 0 auto;
    }

    .page-footer {
        width: 100%;
    }
</style>

    <div class="container">
        <div class="titulo">
      <div class="col s12">
        <h3 class="name-host">Elige a tus huéspedes</h3>
      </div>
    </div>
      <div class="table-generic">

      <table summary="" cellpadding="1" cellspacing="1" class="responsive-table" id="myTable">

        <thead>
          <tr>
            <th id="">Puntuación</th>
            <th id="">Usuario</th>
            <th id="">Nombre</th>
            <th id="">Apellidos</th>
            <th id="">Acciones</th>
          </tr>
        </thead>

            {% for enrollment in object_list %}
                        <tbody>

                        <td>
                            {% if enrollment.created_by.profile.avg_attendee_score > 0 %}
                           <i class="fa fa-star">  <i class="rating-search">&nbsp{{enrollment.created_by.profile.avg_attendee_score|floatformat:2}}</i></i></td>
                        {% endif %}
                        <td>{{enrollment.created_by.username}}</td>
                        <td>{{enrollment.created_by.first_name}}</td>
                        <td>{{enrollment.created_by.last_name}}</td>
                        <td>
                            <a type="button" class="waves-effect waves-light btn button-search  " title="Aceptar"
                href="{% url 'update_enrollment' pk=enrollment.pk status='ACCEPTED' %}">Aceptar
                </a>
                            <a type="button" class="waves-effect waves-light btn button-search  right" title="Cancelar"
                href="{% url 'update_enrollment' pk=enrollment.pk status='REJECTED' %}">Rechazar
                </a>
</td>
                        </tbody>
            {% endfor %}
        </table>
      {% include "pagination.html" %}
    </div>
    </div>

{% endblock %}


