{% extends 'base.html' %}

{% block content %}
​<style>
  body {

    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .page-footer {
    width: 100%;
  }
</style>
<div class="container">

 <div class="margin-title"></div>
  <div class="col s12">
      <a id="titleThanks" class="flow-text">¡GRACIAS POR INSCRIBIRSE A {{ event_title }}! </a>
    </div>
  

  <div class="col s12">
      <a id="text2Thanks" class="flow-text">Cuando el huésped confirme su solicitud, procederemos al pago.</a>
  </div>

  <div class="col s12">
      <p id="text3">En 5s se redigirá a la página de inicio, si no es así haga click <a class="style1"
          href="/home">aquí</a>.</p>
  </div>
  
</div>
 <script type="text/javascript">
  function redireccionar() {
    window.location = "{% url 'home' %}";
  }
  setTimeout("redireccionar()", 5000); //tiempo expresado en milisegundos
</script> 
{% endblock %}