{% extends 'base.html' %}

{% block content %}
​<style>
  body {

    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .page-footer {
    width: 100%;
  }
</style>
<div class="container terminos">



 <div class="margin-title"></div>
  <div class="col s12">
      <a id="titleTermsAbout" class="flow-text">¡SOMOS <a class="title-about">&nbsp EVENTSHOW!<a></a>
    </div>



  <div class="col s12">
    <a id="textTerms" class="flow-text">
        EventShow es una idea que surge en el contexto universitario, concretamente en Sevilla, y llevada a cabo por un grupo de jóvenes emprendedores con ganas de revolucionar la forma actual de conocer gente y compartir experiencias. Es por ello que con esta plataforma podrás establecer nuevas amistades, asistir a innumerables eventos donde podrás aprender y divertirte, compartir tus experiencias con el resto del mundo e incluso ganar dinero por ello.
      </a>
</div>

<div class="col s12">
  <a id="textTerms"  name="comentarios" class="flow-text">
   EventShow es una de las plataformas más novedosas del mundo donde puedes encontrar actividades y eventos únicos, que ofrecen anfitriones locales. EventShow es también un motor económico que ayuda a personas con espíritu emprendedor a convertir sus experiencias y sus pasiones en una forma de ganar dinero, además de promover el contacto social entre personas de una misma ciudad o personas de otros países que desean conocer a otras personas y compartir nuevas experiencias. EventShow promueve la conexión entre personas, el espíritu de comunidad y la confianza.

     </a>
</div>

</div>

{% endblock %}