{%extends 'base.html'%}
{% load static %}



{% block content %}

<style>
    body {
        background-image: url("{% static 'css/images/cena.jpg'%}");
        background-size: cover;
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    main {
        flex: 1 0 auto;
    }

    .page-footer {
        width: 100%;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col s6 form-home">

            <form class="form-eventshow" method="GET" action="{% url 'event_search_home' %}">
                <h3 class="">Encuentra y reserva experiencias únicas</h3>
                <div class="row">
                <div class="col s9">
                        <label>UBICACIÓN
                            <input type="text" placeholder="Ciudad" name="location">
                        </label>
                    </div>

                    <div class="col s3">
                         <label>
                             <a href="{% url 'event_nearby_search_home' %}" class="waves-effect waves-light btn-small location "><i class="material-icons">location_on</i></a>
                         </label>
                    </div>
                     </div>
                <div class="row">
                    <div class="col s6">
                        <label>FECHA
                            <input type="text" class="" placeholder="aaaa-mm-dd" name="date">
                        </label>
                    </div>
                    <div class="col s6">
                        <label>HORA
                            <input type="time" class="" placeholder="hh:mm" name="start_hour">
                        </label>
                    </div>
                </div>

                <button class="waves-effect waves-light btn-large right">Buscar</button>
                <div class="form-errors">
                    {% for e in errors %}
                     {{ e }}
                    {% endfor %}
                </div>
        </form>


        </div>
    </div>
</div>


{% endblock %}