{%extends 'base.html'%}
{% load static %}



{% block content %}

<style>
    body {
        background-image: url("{% static 'css/images/cena.jpg'%}");
        background-size: cover;
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    main {
        flex: 1 0 auto;
    }

    .page-footer {
        width: 100%;
    }
</style>





<div class="container">
    {% if user.is_authenticated and message %}
    <div class="center">
        <a class=" waves-light btn modal-trigger modal-mov" href="#modal2">¡ATENCIÓN {{ message }}!</a>
    </div>
    <div id="modal2" class="modal modal-evetshow">
        <div class="modal-content">
            <h3 class="modal-title">{{message}}</h3><br>
            <h4>{{message.description}}</h4>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves btn">OK!</a>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col s6 form-home">

            <form class="form-eventshow" method="POST" action="{% url 'home' %}" autocomplete="off">
                {% csrf_token %}
                <h3 class="">Encuentra y reserva experiencias únicas</h3>
                <div class="row">
                    <div class="col s9 location-prov">
                        <label>UBICACIÓN </label>
                        <div class=" form-errors">
                            {{ form.location }}
                            {{ form.location.errors }}
                            {{ no_geolocation }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <label>FECHA
                            <div class="form-errors">
                                {{ form.date }}
                                {{ form.date.errors }}
                            </div>
                        </label>
                    </div>
                    <div class="col s6">
                        <label>HORA
                            <div class="form-errors">
                                {{ form.start_hour }}
                                {{ form.start_hour.errors }}
                            </div>
                        </label>
                    </div>
                </div>
                {{form.latitude}}
                {{form.longitude}}
                <button class="waves-effect waves-light btn-large right" type="submit" name="search"
                    value="search">Buscar</button>
                <button class="waves-effect waves-light btn-large left location left" type="submit" name="nearby"
                    value="nearby">
                    <em title="Eventos a 50km de ti" class=" material-icons location2">location_on</em></button>
            </form>
        </div>
    </div>
</div>
{% endblock %}