{% if is_paginated %}
<div class="pagination">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}"> </a>

    {% else %}
    <a class="disabled"><span>|</span></a>
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
    {% if page_obj.number == i %}
    <a class="active"><span>{{ i }} |<span class="sr-only">(actual)</span></span></a>
    {% else %}
    <a href="?page={{ i }}">{{ i }} |</a>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}"></a>
    {% else %}<span></span>
    {% endif %}
</div>
{% endif %}