{% extends 'profile/preferences.html' %}
{% block content %}
<div class="container">
    <div class="title-share-edit">
        <div class="row">
            <div class="grid-example col s4 offset-s2">
                <h1 class="flow-text" id="name-host-serg">Datos personales</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="grid-example col s11 offset-s1">
            <div class="center-form">
                <div class="container-edit" id="edit-profile">
                    <div class="row">
                        <div class="grid-example col s6">
                            <div class="validate-input" id="">
                                <img style="margin-top:3%;" src="https://ispp20.s3.amazonaws.com/{{ user.profile.picture }}" class="img-profile-detail">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="grid-example col s6">
                            <div class="validate-input" id="data-event">
                                <label>USUARIO</label>
                                <h4 style="margin-top:3%;" class="description">{{ user.username }}</h4>
                            </div>
                        </div>

                        <div class="grid-example col s6">
                            <div class="validate-input" id="data-event">
                                <label>EMAIL</label>
                                <h4 style="margin-top:3%;" class="description data-email">{{ user.email }}</h4>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="grid-example col s6">
                            <div class="validate-input" id="data-event">
                                <label>NOMBRE</label>
                                <h4 style="margin-top:3%;" class="description">{{user.first_name}}</h4>
                            </div>
                        </div>
                        <div class="grid-example col s6">
                            <div class="validate-input" id="data-event">
                                <label>APELLIDOS</label>
                                <h4 style="margin-top:3%;" class="description">{{user.last_name}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="grid-example col 12">
                            <div class="validate-input" id="data-event">
                                <label>FECHA DE NACIMIENTO</label>
                                <h4 style="margin-top:3%;" class="description">{{user.profile.birthdate}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="grid-example col s6">
                            <div class="validate-input" id="data-event">
                                <label>PUNTUACIÓN COMO ANFITRIÓN</label>
                                <div class="user-rat" id="ipad-rate">
                                    <i class="fa fa-star"><i
                                            class="rating-search">&nbsp{{user.profile.avg_host_score|floatformat:1|default_if_none:"n/a"|default:"n/a"}}</i></i>
                                </div>
                            </div>
                        </div>
                        <div class="grid-example col s6">
                            <div class="validate-input" id="data-event">
                                <label>PUNTUACIÓN COMO HUÉSPED</label>
                                <div class="user-rat" id="ipad-rate">
                                    <i class="fa fa-star"><i
                                            class="rating-search">&nbsp{{user.profile.avg_attendee_score|floatformat:1|default_if_none:"n/a"|default:"n/a"}}</i></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="grid-example col s12">
                            <div class="validate-input" id="data-event">
                                <label>SOBRE MÍ</label>
                                <p class="description">
                                    {{user.profile.bio}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container ">
                    <div class="row">
                        <div class="grid-example col s6">
                            <a id="send-buttons-pw" type="button" href="{%  url 'update_profile' %}"
                                class="waves-effect waves-light btn">Editar perfil</a>
                        </div>
                        <div class="grid-example col s6">
                            <a id="send-buttons-pw-conf" type="button" href="{%  url 'update_password' %}"
                                class="waves-effect waves-light btn">Cambiar contraseña</a>
                        </div>
                         <div class="grid-example col s6 conf-sep">
                            <a id="send-buttons-pw" type="button" href="{%  url 'pdf_download' %}"
                                class="waves-effect waves-light btn">Descargar datos</a>
                        </div>
                         <div class="grid-example col s6 conf-sep">
                            <a id="send-buttons-pw-conf" type="button" href="{%  url 'delete_profile' %}"
                                class="waves-effect waves-light btn">Eliminar cuenta</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}