{% extends 'profile/preferences.html' %}
{% block content %}


<div class="container">
    <div class="title-share-edit">
        <div class="row">
            <div class="grid-example col s4 offset-s2">
                <h3 class="flow-text" id="name-host-serg">Cambiar contraseña</h3>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="grid-example col s11 offset-s1">
            <div class="center-form">
                <form class="form-eventshow-password" method="POST">
                    {% csrf_token %}
                    <div class="container-password" id="edit-password">

                    <div class="validate-input" id="create-event">
                        <label id="edit-password">CONTRASEÑA ACTUAL</label>
                        <input type="password" placeholder="************" />
                        <div class="form-errors">
                            {{ form.password1.errors }}
                        </div>
                    </div>
                    <div class="validate-input" id="create-event">
                        <label>CONTRASEÑA NUEVA</label>
                        <input type="password" placeholder="************" />
                        <div class="form-errors">
                            {{ form.password2.errors }}
                        </div>
                    </div>
                    <div class="validate-input" id="create-event">
                        <label>CONFIRMAR CONTRASEÑA</label>
                        <input type="password" placeholder="************" />
                        <div class="form-errors">
                            {{ form.password3.errors }}
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="grid-example col s3 offset-s10">
                                <button id="send-buttons-conf" type="submit"
                                    class="waves-effect waves-light btn-large">Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}