{% extends 'base.html' %}
{% load static %}
{% block sidenav %}
<style>
  body {
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .page-footer {
    width: 100%;
    z-index: 1000 !important;
  }

</style>
<ul id="slide-out out " class="sidenav sidenav-fixed control-panel ipad-pro-slide">
  <li>
    <div class="user-view">
  <li>
    <h2>Panel del control</h2>
  </li>

</ul>
<ul id="slide-out resp" class="sidenav sidenav-fixed preferences ipad-pro-slide">
<li>    <h2 class="panel-resp slide-event">Panel del control</h2>
</li>
  <li>
    <h3><a href="{% url 'detail_profile' %}">Datos personales</a></h3>
  </li>
  <li>
    <h3><a href="{% url 'receipts' %}">Mis recibos</a></h3>
  </li>
  <li>
    <h3><a href="{% url 'referred' %}">Referidos</a></h3>
  </li>
</ul>
 <a id="movil" href="#" data-target="slide-out resp"
        class="btn-floating btn-large  waves-light sidenav-trigger panel-resp"><em id="menu-movil"
          class="material-icons">desktop_mac</em></a>

    <style>
    element.style {
    display: block;
    opacity: 0;
}
    </style>
{% endblock %}
{% block content %}
{%  endblock %}