{% extends 'profile/preferences.html' %}
{% block content %}
{% load transactions %}
<div class="container" id="panel">
  <div class="titleRef">
    <div class="col s12">
      <h3 id="name-ref">Mis recibos</h3>
    </div>
  </div>
  <div class="container" id="onlyIpadPro">
    <div class="table-generic">
      <table class="responsive-table" id="myTable">
        <thead>
          <div class="provisional">
            <tr>
              <th id="">Id</th>
              <th id="">Fecha</th>
              <th id="">Cantidad</th>
              <th id="">Emisor</th>
              <th id="">Receptor</th>
            </tr>
          </div>
        </thead>
        <tbody>
          {% for transaction in object_list %}
          <tr>
            <td>{{transaction.id}}</td>
            <td>{{transaction.created_at}}</td>
            <td>{{ transaction.amount|floatformat:2 }}€</td>
            <td>{{transaction.created_by.username}}</td>
            <td>{{transaction.recipient.username}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include "pagination.html" %}
    </div>
  </div>
  {%endblock%}