{% extends 'profile/preferences.html' %}
{% block content %}
<div class="container">
    <div class="title-share-edit-pw">
        <div class="row">
            <div class="grid-example col s4 offset-s2">
                <h3 class="flow-text" id="name-host-title-del">Cambiar contraseña</h3>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="grid-example col s11 offset-s1">
            <div class="center-form">
                <form class="form-eventshow-password" method="POST" action="{% url 'update_password' %}">
                    {% csrf_token %}
                    <div class="container-password" id="edit-password">
                        <div class="validate-input" id="edit-event">
                            <label id="edit-password">CONTRASEÑA ACTUAL</label>
                            {{form.old_password}}
                            <div class="form-errors">
                                {{ form.old_password.errors }}
                            </div>
                        </div>
                        <div class="validate-input" id="edit-event">
                            <label>CONTRASEÑA NUEVA</label>
                            {{form.new_password1}}
                            <div class="form-errors">
                                {{ form.new_password1.errors }}
                            </div>
                        </div>
                        <div class="validate-input" id="edit-event">
                            <label>CONFIRMAR CONTRASEÑA</label>
                            {{form.new_password2}}
                            <div class="form-errors">
                                {{ form.new_password2.errors }}
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="grid-example col s3 offset-s10">
                                    <button id="send-buttons-conf" type="submit"
                                        class="waves-effect waves-light btn-large">Enviar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}