{% extends 'profile/preferences.html' %}
{% block content %}


<div class="container">
    <div class="title-share-edit">
        <div class="row">
            <div class="grid-example col s4 offset-s2">
                <h3 class="flow-text" id="name-host-serg">Editar datos</h3>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="grid-example col s11 offset-s1">
            <div class="center-form">
                <form class="form-eventshow-edit" id="edit-profile" method="POST" enctype="multipart/form-data" action="{% url 'update_profile' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="grid-example col s6">
                            <div class="validate-input" id="edit-event">
                                <label>USUARIO</label>
                                {{ form.username }}
                                <div class="form-errors">
                                    {{ form.username.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="grid-example col s6">
                            <div class="validate-input iphone-right" id="edit-event">
                                <label>EMAIL</label>
                                {{form.email}}
                                <div class="form-errors">
                                    {{ form.email.errors }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="grid-example col s6">
                            <div class="validate-input" id="edit-event">
                                <label>NOMBRE</label>
                                {{form.first_name}}
                                <div class="form-errors">
                                    {{ form.first_name.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="grid-example col s6">
                            <div class="validate-input iphone-right" id="edit-event">
                                <label>APELLIDOS</label>
                                {{form.last_name}}
                                <div class="form-errors">
                                    {{ form.last_name.errors }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="grid-example col m6 s12 center-profile">
                            <div class="validate-input" id="edit-event">
                                <label class="ipad-birth-label">FECHA DE NACIMIENTO</label>
                                {{ profile_form.birthdate }}
                                <div class="form-errors">
                                    {{ profile_form.birthdate.errors }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="grid-example col m6 s12 center-profile ipad-input">
                            <div class="validate-input" id="edit-event">
                                <label>IMAGEN</label>
                                {{profile_form.picture}}
                                <div class="form-errors">
                                    {{ profile_form.picture.errors }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="grid-example col s12 center-profile ipad-bio">
                            <div class="validate-input" id="edit-event">
                                <label class="ipad-label-bio">SOBRE MÍ</label>
                                {{profile_form.bio}}
                                <div class="form-errors">
                                    {{ profile_form.bio.errors }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="grid-example col s3 offset-s8">
                            <button id="send-buttons-data" type="submit"
                                class=" btn-large">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}