{% extends 'base.html' %}
{% block content %}
<div class="container">
    <form action="{% url 'delete_profile' %}" method="post">
        {% csrf_token %}
        <h1 class="user-delete flow-text">
            ¿Estás seguro de que quieres eliminar tu cuenta? Revisa nuestros <a  href="/terms">términos y
                        condiciones </a> antes para saber qué información se eliminará. Además, deber tener en cuenta los
                        eventos
                        que aún tienes publicados como afintrión, ya que al eliminar tu cuenta se cancelarán y esto
                        puede
                        conllevar costes extras.</h1>



        <div class="center">
            {% if penalized %}
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="{{ stripe_key }}" data-description="Pagar penalización"
                            data-amount="{{ penalty | floatformat:'0' }}" data-locale="es" data-currency="eur"
                            data-label="Sí">
                            </script>
                <script>
                document.getElementsByClassName("stripe-button-el")[0].setAttribute("class", "waves-effect waves-light btn-large button-delete delete-yes");
            </script>

            {% else %}
             <button class="waves-effect waves-light btn-large button-delete delete-yes" type="submit">Sí</button>

            {% endif%}
            <a href="{% url 'detail_profile'%}" class="waves-effect waves-light btn-large button-delete">No</a>
        </div>
    </form>



</div>
<style>
    body {
        background-size: cover;
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    main {
        flex: 1 0 auto;
    }

    .page-footer {
        width: 100%;
    }
</style>
{% endblock %}