{% extends 'base.html' %}
{% block content %}
{% load static %}
{% if user.is_authenticated %}
<img class="img-detail-auth" src="{{object.picture}}">
{% else %}
<img class="img-detail" src="{{object.picture}}">
{% endif %}
<div class="principal-detail">
    <div class="col m6 rectangle-info" id="host-detail">
        <img class="img-host" alt='anfitrion' src="{{object.created_by.profile.picture}}">
        <div class="col m5 host-rating">
            <i class="fa fa-star"><i
                    class="rating-search">&nbsp{{event.created_by.profile.avg_host_score|floatformat:1|default_if_none:"n/a"|default:"n/a" }}</i></i>
        </div>
    </div>
    <div class="col m6 rectangle-info-title">
        <h1 class="sep-title">{{object.title}}</h1>
    </div>
    <div class="col m6 rectangle-info separated2" id="detail-info">
        <h2 class="title-detail">duración</h2>
        <h2 class="subtitle-detail">{{ duration }}</h2>
    </div>
    <div class="col m6 rectangle-info separated6" id="detail-info">
        <h2 class="title-detail">aforo</h2>
        <h2 class="subtitle-detail">{{ object.capacity }}</h2>
    </div>
    <div class="col m6 rectangle-info separated7" id="detail-info">
        <h2 class="title-detail">edad mín.</h2>
        <h2 class="subtitle-detail">{{ object.min_age }}</h2>
    </div>
    <div class="col m6 rectangle-info separated4" id="detail-info">
        <h2 class="title-detail">idioma</h2>
        <h2 class="subtitle-detail">{{ object.lang }}</h2>
        {% if user.is_authenticated %}
        {% if user_is_owner %}
        <h3 class="warning-own" href="">Propietario</h3>
        {% elif not user_is_old_enough %}
        <h3 class="warning-young">No tienes la edad suficiente</h3>
        {% elif event_is_full %}
        <h3 class="warning-full" href="">Aforo completo</h3>
        {% elif event.has_started %}
        <h3 class="warning-full" href="">Ya ha empezado</h3>
        {% elif event.has_finished %}
        <h3 class="warning-full" href="">Ya ha terminado</h3>
        {% elif user_is_enrolled %}
        <h3 class="warning-full" href="">Ya estás inscrito</h3>
        {% elif event.created_by.username == 'deleted' %}
        <h3 class="warning-full" href="">No disponible</h3>
        {% elif user_can_enroll and not event.has_started %}
        <form action="{% url 'enroll_event' object.pk %}" method="POST">
            {% csrf_token %}
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" id="separated3"
                data-key="{{ stripe_key }}" data-description="Comprar entrada"
                data-amount="{% widthratio object.price 1 100|floatformat:'0' %}" data-locale="es" data-currency="eur"
                data-label="{{ object.price }}€">
                </script>
            <script>
                document.getElementsByClassName("stripe-button-el")[0].setAttribute("class", "waves-effect waves-light btn-large button-detail-auth");
            </script>
        </form>
        {% endif %}
        {% elif event.created_by.username == 'deleted' %}
        <h3 class="warning-full" href="">No disponible</h3>
        {% else %}
        <a class="waves-effect waves-light btn-large button-detail" id="enroll" href="{% url 'login' %}">INSCRIBIRSE</a>
        {% endif %}
    </div>
    <div class="col m6 rectangle-info separated1" id="detail-info">
        <h2 class="title-detail">Hora comienzo</h2>
        <h2 class="subtitle-detail">{{ object.start_time }}</h2>
    </div>
    <div class="col m6 rectangle-info" id="detail-info">
        <h2 class="title-detail">Fecha</h2>
        <h2 class="subtitle-detail">{{ object.start_day| date:"d M, Y" }}</h2>
    </div>
</div>
<div class="section-detail">
    <div class="col-3 title-section">
        <h1 class="title-section">Descripción</h1>
    </div>
    <div class="col-9 title-section">
        <h3 class="title-text">{{object.description}}</h3>
    </div>
    <hr>
</div>
<div class="section-detail2">
    <div class="col-3 title-section">
        <h1 class="title-section">Información extra</h1>
    </div>
    <div class="col-5 title-section">
        <h3 class="title-text">{{object.extra_info}}</h3>
    </div>
    <hr>
</div>
<div class="section-detail3">
    <div class="col-3 title-section">
        <h1 class="title-section">Anfitrión</h1>
    </div>
    <div class="col-9 title-section pos">
        <h3 class="name-host-detail">{{object.created_by.first_name}} {{object.created_by.last_name}}</h3>
        {% if event.created_by.username != 'deleted' %}
        <h3 class="host-bio">{{object.created_by.profile.bio}}</h3>
        {% endif %}
        <img class="img-bio" alt='anfitrion' src="{{object.created_by.profile.picture}}">
        <div class="rating-bio">
            <i class="fa fa-star"><i
                    class="rating-search">&nbsp{{event.created_by.profile.avg_host_score|floatformat:1|default_if_none:"n/a"|default:"n/a" }}</i></i>
        </div>
    </div>
    <hr>
    <div class="col-9 title-section pos">
        <h1 class="title-section">Dirección</h1>

        <h3 class="address-detail">{{object.location_street}} {{object.location_number}}<br> {{object.location_city}}
        </h3>
        <div class="col-md-7 map-detail">
            <br>
            <iframe src="https://www.google.com/maps/embed/v1/place?key={{gmaps_key}}&q={{event.g_location}}"
                width="838" height="346" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
            <br>
        </div>
    </div>
    <hr>
    {% if event.created_by.username != 'deleted' %}
    <div class="col-9 title-section pos">
        <h1 class="title-section">Comentarios de otros húespedes <br> asistieron a algún evento de este anfitrión</h1>
        {% for rating in object_list %}
        <div class="comments">
            <img class="img-comment" alt='' src="{{rating.created_by.profile.picture}}">
            <h3 class="name-host-detail user-comment">{{rating.created_by.username}}</h3>
            <div class="user-rat">
                <i class="fa fa-star"><i class="rating-search">&nbsp{{rating.score}}</i></i>
            </div>
            <h3 class="comment-detail">{{rating.comment}}</h3>
        </div>
        {% endfor %}
    </div>
    {% include 'pagination.html' %}
    {% endif %}
</div>
<style>
    body {
        background-size: cover;
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    main {
        flex: 1 0 auto;
    }

    .page-footer {
        width: 100%;
        margin-top: 25%;
    }
</style>
{% endblock %}