{%extends 'base.html' %}

{% block content %}

<section class="hero-section">
    <div class="container">
        
      <div class="hero-form">
        <h3 class="form-index">Editar evento</h3>
      </br> </br>
      <form>
        <div class="hero-form">
        <labelRate>DATOS EVENTO</labelRate></br>
      </br>

      <label>¿QUÉ TIPO DE EVENTO OFRECES?</label>
                    <select id="categories">
                      <option value="Cena">Cena</option>
                      <option value="Ocio">Ocio</option>
                      <option value="Reunión">Reunión</option>
                    </select>

                    <label>DESCRIPCIÓN</label>
                    <input type="text" >

                    <div class="row">
                        <div class="col">
                            <label>Nº MAX ASISTENTES</label>
                            <input type="text" class="form-control" >
                        </div>
                        <div class="col">
                            <label>EDAD MÍNIMA</label>
                            <input type="text" class="form-control" >
                        </div>
                        <div class="col">
                            <label>PRECIO</label>
                            <input type="text" class="form-control" >
                        </div>
                    </div>

        </div>
  </br>
  <div class="hero-form">
    <labelRate>DATOS EVENTO</labelRate></br>
  </br>

  <label>UBICACIÓN</label>
                    <input type="text" >

                    <div class="row">
                        <div class="col">
                            <label>FECHA</label>
                            <input type="text" class="form-control" >
                        </div>
                        <div class="col">
                            <label>HORA INICIO</label>
                            <input type="text" class="form-control" >
                        </div>
                    </div>

  </div>
  
  </br>
  <div class="hero-form">
    <labelRate>DATOS EVENTO</labelRate></br>
  </br>

  <div class="row">
    <div class="col-4">
        <label>MASCOTAS</label>
       <select id="mascotas">
  <option value="Sí">Sí</option>
  <option value="No">No</option>
</select>
    </div>
    <div class="col-4">
        <label>IDIOMA</label>
        <input type="text" class="form-control" >
    </div>
    <div class="col-4">
        <label>APARCAMIENTO CERCANO</label>
       <select id="parking">
  <option value="Sí">Sí</option>
  <option value="No">No</option>
</select>
    </div>
        <div class="col-12">
        <label>INFORMACIÓN EXTRA PARA EL ASISTENTE</label>
        <input type="text" class="form-control" >
    </div>

</div>
</div>
</br>
<button
    type="submit"
    class="site-btn site-btn-exp">Actualizar Datos</button>
      </div>
  </br>
    
    
  </form> 



     </div>
      
    </div>

</section>

{% endblock %}