{% extends 'base.html' %}
{% block content %}
<div class="container">
    <form action="{% url 'delete_event' object.pk %}" method="post">
        {% csrf_token %}
        <h1 class="title-delete flow-text">¿Estás seguro de que quieres eliminar el evento <a>{{object.title}}</a>?</h1>

        {% if not attendees_count == 0 %}
        {% if not object.can_delete %}
        <h1 class="delete-comission flow-text center">Recibirá una penalización por ello (más información en <a
                href="{% url 'terms' %}"> términos y condiciones</a>)</h1>
        {% endif %}
        {% endif %}

        <div class="center">
            {% if object.can_delete or attendees_count == 0 %}
            <button class="waves-effect waves-light btn-large button-delete delete-yes" type="submit">Sí</button>
            {% else %}
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{ stripe_key }}"
                data-description="Pagar penalización" data-amount="{{ penalty|floatformat:'0' }}" data-locale="es"
                data-currency="eur" data-label="Sí">
            </script>
                <script>
                document.getElementsByClassName("stripe-button-el")[0].setAttribute("class", "waves-effect waves-light btn-large button-delete delete-yes");
            </script>

            {% endif%}
            <a href="{% url 'hosted_events'%}" class="waves-effect waves-light btn-large button-delete">No</a>
        </div>
    </form>



</div>
<style>
    body {
        background-size: cover;
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    main {
        flex: 1 0 auto;
    }

    .page-footer {
        width: 100%;
    }
</style>
{% endblock %}