{% extends 'base.html' %}
{% block content %}
<div class="confirm-delete">
    <form class="form-eventshow-confirm-delete" action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col s12" id="delete-title">
                <span class="flow-text">
                    <h1 id="title-delete">¿Estás seguro de que quieres eliminar el evento <strong id="title-del-event">
                            {{object.title}}</strong>?</h1>
                </span>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% if object.title|length <= 50 %}
                <div class="grid-example col s4 offset-s2">
                    <div class="delete-buttons-conf">
                        <div class="right">
                            {% if object.can_delete %}
                                <button id="delete-btn" class="waves-effect waves-light btn-large btn-block"
                                    type="submit">Sí</button>
                            {% else %}
                                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" id="separated3"
                                    data-key="{{ stripe_key }}" data-description="Comprar entrada"
                                    data-amount="{% widthratio object.price 1 100|floatformat:'0' %}" data-locale="es" data-currency="eur"
                                    data-label="{{ object.price }}€">
                                </script>
                                <script>
                                    document.getElementsByClassName("stripe-button-el")[0].setAttribute("class", "waves-effect waves-light btn-large btn-block");
                                </script>
                            {% endif%}
                        </div>
                    </div>
                </div>
                <div class="grid-example col s6">
                    <div class="delete-buttons-conf">
                        <div class="left">
                            <a id="delete-btn-a" class="waves-effect waves-light btn-large btn-block"
                                href="{% url 'hosted_events'%}">No</a>
                        </div>
                    </div>
                </div>
                {% else %}

                <div class="grid-example col s4 offset-s2">
                    <div class="delete-buttons-big-title">
                        <div class="right">
                            <button id="delete-btn-big" class="waves-effect waves-light btn-large btn-block"
                                type="submit">Sí</button>
                             <div class="left">
                            <a id="delete-btn-a-big" class="waves-effect waves-light btn-large btn-block"
                                href="{% url 'hosted_events'%}">No</a>
                        </div>
                        </div>
                    </div>
                </div>

                {% endif %}
            </div>
        </div>
    </form>
</div>
<style>
    body {
        background-size: cover;
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    main {
        flex: 1 0 auto;
    }

    .page-footer {
        width: 100%;
    }
</style>
{% endblock %}