{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="confirm-delete">
        <form class="form-eventshow-confirm-delete" action="" method="post">
            {% csrf_token %}

            <div class="row">
                <div class="grid-example col s12">
                    <h1 id="name-host" class="flow-text">¿Estás seguro de que quieres eliminar el evento
                        {{object.title}}?</h1>
                </div>
            </div>
            <div class="row">

                <div class="grid-example col s5 offset-s3">
                    <div class="left">
                        <div class="delete-buttons">
                            <button id="delete-btn" class="waves-effect waves-light btn-large" type="submit">Sí</button>
                        </div>
                    </div>
                    <div class="right">

                        <div class="delete-buttons">
                            <button id="delete-btn" class="waves-effect waves-light btn-large"
                                href="{% url 'hosted_events'%}">No</button>
                        </div>
                    </div>

                </div>
        </form>
    </div>
</div>




{% endblock %}