{%extends 'base.html' %}

{% block content %}

    

             {% if request.get_full_path == '/events/enrolled' %}
        <body>
             <div class="container">
    
            <div class="titulo">
                <div class="col s12">
                    <h3 class="name-host">Experiencias siendo huésped</h3>
                </div>       
                    </div>

                    <div class="table-generic" >
        
     
                        <table  cellpadding="1" cellspacing="1" class="responsive-table" id="myTable">
                  
                        <thead>
                            <tr>
                                <th>Puntuar</th>
                                <th>Título</th>
                                <th>Fecha</th>
                                <th>Dirección</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>  
                        {% for event in object_list %}
                        <tbody>
        
                            <tr>
                              <td><button type="button" onclick="location.href='{% url 'create_rating_host' event.pk %}'" title="Puntuar"/>
                                  <i id="title-name" class="samll material-icons">star</i>
                              </button></td>
                              <td>{{event.title}}</td>
                              <td>{{event.start_day}}</td>
                              <td> {{event.location_city}}, {{event.location_street}}, {{event.location_number}}</td>
                              <td><a class="waves-effect waves-light btn" id="yaNo">Ya no quiero ir</a></td>
                            </tr>
                            
                          </tbody>                             
                            {% endfor %}
                        </table>
                            </div>
                        
                    </div>
                
                
                </body>
                {% endif %}
                {% if request.get_full_path == '/events/hosted' %}
                <body>
                <div class="container">
                
                <div class="titulo">
                    <div class="col s12">
                        <h3 class="name-host">Experiencias siendo anfitrión</h3>
                    </div>       
                        </div>

                        <div class="table-generic" >
        
     
                            <table  cellpadding="1" cellspacing="1" class="responsive-table" id="myTable">
                      
                            <thead>
                                <tr>
                                    <th>Puntuar</th>
                                    <th>Título</th>
                                    <th>Fecha</th>
                                    <th>Dirección</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>  
                                    {% for  event in object_list %}
                                    <tbody>
                                        <tr>
                                          <td><button type="button" onclick="location.href='{% url 'list_attendees' event.pk %}'" title="Puntuar"/>
                                              <i id="title-name" class="samll material-icons">star</i>
                                          </button></td>
                                          <td>{{event.title}}</td>
                                          <td>{{event.start_day}}</td>
                                          <td> {{event.location_city}}, {{event.location_street}}, {{event.location_number}}</td>
                                          <td><button type="button" onclick="location.href='{% url 'list_attendees' event.pk %}'" title="Puntuar"/>
                                            <i id="title-name" class="samll material-icons">edit</i>
                                        </button>
                                        <button type="button" onclick="location.href='{% url 'list_attendees' event.pk %}'" title="Puntuar"/>
                                            <i id="title-name" class="samll material-icons">person</i>
                                        </button>
                                        <button type="button" onclick="location.href='{% url 'list_attendees' event.pk %}'" title="Puntuar"/>
                                            <i id="title-name" class="samll material-icons">delete</i>
                                        </button>
                                        <button type="button" onclick="location.href='{% url 'list_attendees' event.pk %}'" title="Puntuar"/>
                                            <i id="title-name" class="samll material-icons">attach_money</i>
                                        </button>
                                          </td>
                                        </tr>
                                        
                                      </tbody> 
                                
{% endfor %}
</table>
{% if event.has_other_pages %}
  <div class="pagination">
    {% if event.has_previous %}
      <a  href="?page={{ event.previous_page_number }}" > </a>
      
    {% else %}
      <a class="disabled"><span>|</span></a>
    {% endif %}
    {% for i in event.paginator.page_range %}
      {% if event.number == i %}
        <a class="active"><span>{{ i }} |<span class="sr-only">(actual)</span></span></a>
      {% else %}
        <a href="?page={{ i }}">{{ i }} |</a>
      {% endif %}
    {% endfor %}
    {% if event.has_next %}
      <a href="?page={{ event.next_page_number }}"></a>
    {% else %}<span></span>
    {% endif %}
  </div>
{% endif %}
</div>

</div>
                
</body>   
{% endif %}
{% endblock %}