{%extends 'base.html'%}
{% block content %}
<div class="row">
    <div class="wrapper wrapper--w1070">
        <div class="card-body">
            <form class="form-search" method="POST" action="{% url 'event_filter' %}" autocomplete="off">
                {% csrf_token %}
                <div class=" input-group input--medium ">
                    <label class="label">Localización</label>
                    {{ form.location }}
                    {{ form.location.errors }}
                </div>
                <div class="input-group input--medium">
                    <label class="label">Fecha</label>
                    {{ form.date }}
                    {{ form.date.errors }}
                </div>
                <div class="input-group input--medium">
                    <label class="label">Hora</label>
                    {{ form.start_hour }}
                    {{ form.start_hour.errors }}
                </div>
                <div class="input-group input--medium">
                    <label class="label">Precio Mínimo</label>
                    {{ form.min_price }}
                    {{ form.min_price.errors }}
                    {{ form.non_field_errors }}
                </div>
                <div class="input-group input--medium">
                    <label class="label">Precio Máximo</label>
                    {{ form.max_price }}
                    {{ form.max_price.errors }}
                </div>
                <button class="btn-submit search" type="submit">Buscar</button>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row text-left">
        <div class="col l6 ">
            <h1 class="title-search">{% if location %} {{ location }} {% endif %}</h1>
            <h3 class="title-search">{{page_obj.end_index}} de {{page_obj.paginator.count}} resultados</h3>
        </div>
    </div>
</div>
<div class="row text-left">
    <div class="col l6">
        <h1 class="title-search">Todos los resultados</h1>
    </div>
</div>
<div class="container">
    {% for event in object_list %}
    <hr>
    <div class="row event">
        <div class="col m4">
            <h3 class="title-category"> {{ event.category }}</h3>
            <a href="{% url 'detail_event' event.pk %}">
                <h2 class="title-event element">{{ event.title }}</h2>
            </a>
            <h4 class="subtitle-event element"> Hora: {{event.start_time}} | Duración: {{ event.duration }}</h4>
            <h4 class="subtitle-event element">Fecha: {{ event.start_day }}</h4>
            <h4 class="subtitle-event element">Lugar: {{ event.location_city }}</h4>
            {% if user.is_authenticated %} <h4 class="subtitle-event element not-age">Edad mínima: {{ event.min_age }}</h4> {% endif %}
            <h4 class="subtitle-event element">Edad mínima: {{ event.min_age }}</h4>
            <h4 class="title-category element">Descripción:</h4>
            <h5 class="subtitle-event element">{{ event.description }}
                <a class="waves-effect waves-light btn button-search price right" id="button-search"
                    href="{% url 'detail_event' event.pk %}">{{ event.price }}€</a>
            </h5>
        </div>
        <div class="col s1 rating-search">
            <i class="fa fa-star"><i
                    class="rating-search">&nbsp{{event.created_by.profile.avg_host_score|floatformat:1|default_if_none:"n/a"|default:"n/a" }}</i></i>
        </div>
        <div class="col m6">
            {% if event.picture %}
            <a href="{% url 'detail_event' event.pk %}"><img class="img-search" src="{{ event.picture }} "
                    alt="event picture"></a>
            {% else %}

            {% endif %}
        </div>
    </div>
    {% endfor %}
    <hr class="hr-sep">
    {% include 'pagination.html' %}
</div>
{% endblock %}