{%extends 'base.html' %}

{% block content %}

<div class="container">

  <div class="titulo">
    <div class="col s12">
      <h3 class="name-host">Experiencias siendo {{role}}</h3>
    </div>
  </div>

  <div class="table-generic">

    <table summary="" cellpadding="1" cellspacing="1" class="responsive-table" id="myTable">

      <thead>
        <tr>
          {% if role == "huésped" %}
          <th id="">Puntuar</th>
          <th id="">Título</th>
          <th id="">Fecha</th>
          <th id="">Dirección</th>
          <th id="">Acciones</th>
          {% else %}
          <th id="">Título</th>
          <th id="">Fecha</th>
          <th id="">Dirección</th>
          <th id="">Acciones</th>
          {% endif %}
        </tr>
      </thead>
      {% for event in object_list %}
      <tbody>

        <tr>
          {% if role == "huésped" %}
          <td>
            {% if event not in user_rated_events and event.has_finished %}
            <button type="button" onclick="location.href='{% url 'create_rating_host' event.pk %}'" title="Puntuar">
              <em id="title-name" class="samll material-icons">star</em>
            </button>
            {% elif event in user_rated_events %}
            Ya puntuado
            {% elif not event.has_started%}
            No ha empezado
            {% elif not event.has_finished%}
            No ha terminado
            {% endif %}
          </td>
          {% endif %}
          <td><a href="{% url 'detail_event' event.pk %}">{{event.title}}</a></td>
          <td>{{event.start_day}}</td>
          <td> {{event.location_city}}, {{event.location_street}}, {{event.location_number}}</td>
          <td>
            {% if role == "huésped" %}
            {% if not event.has_started %}
            <i class="waves-effect waves-light btn" id="yaNo">Ya no quiero ir</i>
            {% elif event.has_finished %}
            Ya ha acabado
            {% elif event.has_started %}
            Ya ha empezado
            {% endif %}
            {% else %}
            {% if not event.has_started %}
            <button type="button" onclick="location.href='{% url 'update_event' event.pk %}'" title="Editar"> <i
                id="title-name" class="small material-icons">edit</i></button>
            <button type="button" onclick="location.href='{% url 'delete_event' event.pk %}'" title="Eliminar">
              <i id="title-name" class="small material-icons">delete</i>
            </button>
            {% endif %}
            <button type="button" onclick="location.href='{% url 'list_attendees' event.pk %}'" title="Asistentes"> <i
                id="title-name" class="small material-icons">person</i></button>
            <button type="button" onclick="location.href='#'" title="">
              <i id="title-name" class="small material-icons">attach_money</i>
            </button>
            {% endif %}
          </td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
    {% include "pagination.html" %}
  </div>
</div>


{% endblock %}