{% extends 'base.html' %}
​
{% block content %}
​
        <div class="container">
            <div class="title">
        
              <div class="col s12">

                <a id="titleThanks" class="flow-text">¡GRACIAS POR INSCRIBIRSE A {{ event_title }}! </a>
            </div>
          
            <div class="col s12">
            
            <a id="text2Thanks" class="flow-text" >Cuando el huésped confirme su solicitud, procederemos al pago.</a>
     
            </div>
            <div class="col s12">
            
                <p id="text3">En 5s se redigirá a la página de inicio, si no es así haga click <a class="style1" href="/home">aquí</a>.</p>
         
                </div>
    </div>
​

<style>
    .footer-section {
        position: fixed;
    }
</style>

<script type="text/javascript">
    function redireccionar(){
      window.location="{% url 'enrolled_events' %}";
    }
    setTimeout ("redireccionar()", 50000); //tiempo expresado en milisegundos
</script>
​
{% endblock %}