{% extends 'base.html' %}
​
{% block content %}
​
<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="hero-confirm">
                    <h1 class="title1">GRACIAS POR INSCRIBIRTE AL EVENTO</h1>
                    <div class="hero-confirm-box">
                        <br>
                        <h5>¡Enhorabuena {{att}}! Se ha inscrito al evento <i>{{event.title}}</i> </h5>
                        <br>
                        <h5>Cuando {{event.host.name}} decida si acepta o rechaza su solicitud le avisaremos.</h5>
                        <br>
                        <h5>Si la ha aceptado se le cobrará <b>{{event.price}}</b>, ¡y solo tendrá que disfrutar del maravilloso evento!</h5>
                    </div>
                </div>
​
            </div>
        </div>
    </div>
​
</section>
<style>
    .footer-section {
        position: fixed;
    }
</style>
​
<script type="text/javascript">
    function redireccionar(){
      window.location="{% url 'enrolled_events' %}";
    }
    setTimeout ("redireccionar()", 10000); //tiempo expresado en milisegundos
</script>
​
{% endblock %}